*{
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}
.v-application .body-2, .v-application .subtitle-1, .v-application .subtitle-2 {
    font-family: 'Poppins' !important;
}
.v-application .text-h1, .v-application .text-h2, .v-application .text-h3, .v-application .text-h4, .v-application .text-h5, .v-application .text-h6{
    font-family: 'Poppins' !important;
}

a{
    color: inherit !important;
    text-decoration: none;
}
body{
    font-family: 'Poppins' !important;
    font-size: 90% !important;
    line-height: 1.7;
    
    .container--fluid {
        max-width: 90%; 
        margin: 0 auto; 
    }
}
.v-image__image{
    background-size:100% 100%;
}
section{
    .section-title{
        .v-divider{
            max-width: 150px !important;
            width: 150px !important;
        }
    }
    .slider-card-div{
        .v-card__title{
            &:hover{
                color: #fb0; 
            }
        }
    }
    .btn-style{
        border: 1px solid #eaeaea;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 41px; 
        height: 41px; 
        background-color: #fff !important; 
        &:hover{
            background-color: #fb0 !important; 
            color: #fff !important;  
            border: 1px solid #fb0; 
            .v-icon{
                color: #fff !important; 
            }
        }  
    }
    .btn-style2{
        border: 1px solid #fb0;
        background-color: #fb0 !important;
        color: #fff !important; 
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 41px; 
        height: 41px; 
        &:hover{
            background-color: transparent !important; 
            color: #fb0 !important;  
            .v-icon{
                color: #fb0 !important; 
            }
        }  
    }
    .swiper-button-prev.btn-style, .swiper-button-next.btn-style{
        position: static;
        min-height: 40px;
        border: 1px solid #eaeaea;
        align-self: end;
        &::after{
            content: ''; 
        }
    }

}
section#services{
    .card-div{
        .card-icon-div{
            width: 115px; 
            height: 115px;
            border: 2px solid #fb0; 
        }
        &:hover .card-icon-div{
            background: #fb0; 
            .v-icon{
                color: #fff !important; 
            }
        }
    }
}
section#eventStatus{
    .img-div {
        transition: all .4s ease-in-out;
        background: rgba(0,0,0,0.3); 
        width: 100%; 
        height: 100%; 
        cursor: pointer; 
        .img-text-div{
            width: 100%;
            height: 100%;
            border: 1px dashed white; 
        }
    }
    .img-div:not(.on-hover) {
        background: linear-gradient(to bottom,rgba(0,0,0,0.3) 10%,rgba(2,0,5,0) 24%,#60f 150%);
        background-color: rgba(0,0,0,0.3);
    }
    .img-div.on-hover{
        background: linear-gradient(to bottom,rgba(0,0,0,0.3) 0,rgba(2,0,5,0) 24%,#60f 250%);
        background-color: rgba(0,0,0,0); 
    }
}


section#featuredEvent{
    background-color: #f9f9f9; 
    padding-top: 80px; 
    padding-bottom: 80px; 
    .discount-div{
        transform: rotate(-45deg);
        margin-top: 23px;
        width: 80px;
        height: 30px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff !important;
    }
}

section#eventSearch{
    background-color: #f9f9f9;
    .v-text-field__details{
        display: none; 
    }
}

section#popularVenu{
    background: url('../assets/Images/Venu/venu-bg.png') no-repeat;
    background-position: center center; 
    padding-top: 6rem; 
    padding-bottom: 6rem;
    background-attachment: fixed;
}

section#newsletter{
    background: url('../assets/Images/Newsletter/newsletter-bg.png') no-repeat;
    background-position: center center; 
    padding-top: 6rem; 
    padding-bottom: 6rem;
    background-attachment: fixed;
    .v-input{
        color: white !important;
        fieldset{
            border-color: white !important;
        }
        .v-label{
            color: white;
        }
        input{
            color: white
        }
        .v-icon{
            color: white !important;
        }
        &.error--text{
            color: grey; 
        }
    }
}