*{
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
    // transition: 0.2s all ease-in-out; 
}
.v-application .body-2, .v-application .subtitle-1, .v-application .subtitle-2 {
    font-family: 'Poppins' !important;
}
.v-application .text-h1, .v-application .text-h2, .v-application .text-h3, .v-application .text-h4, .v-application .text-h5, .v-application .text-h6{
    font-family: 'Poppins' !important;
}

a{
    color: inherit !important;
    text-decoration: none;
}
body{
    font-family: 'Poppins' !important;
    font-size: 90% !important;
    line-height: 1.7;
    
    .container--fluid {
        max-width: 90%; 
        margin: 0 auto; 
    }
}
.theme--light.v-btn:hover::before {
    opacity: 0;
}
.v-image__image{
    background-size:100% 100%;
}
section{
    .section-title{
        .v-divider{
            max-width: 150px !important;
            width: 150px !important;
        }
    }
    .slider-card-div{
        .v-card__title{
            &:hover{
                color: #fb0; 
            }
        }
    }
    .section-content{
        .v-card{
            .v-card__title{
                font-weight: 600; 
                &:hover{
                    color: #fb0; 
                }
            }
        }
    }
    .btn-style{
        border: 1px solid #eaeaea;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 41px; 
        height: 41px; 
        background-color: #fff !important; 
        &:hover{
            background-color: #fb0 !important; 
            color: #fff !important;  
            border: 1px solid #fb0; 
            .v-icon{
                color: #fff !important; 
            }
        }  
    }
    .btn-style2{
        border: 1px solid #fb0;
        background-color: #fb0;
        box-shadow: none !important; 
        color: #fff !important; 
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        // min-height: 41px; 
        height: 45px !important;  
        &:hover{
            background-color: transparent !important; 
            color: #fb0; 
            box-shadow: none !important; 
            color: #fb0 !important;  
            .v-icon{
                color: #fb0 !important; 
            }
        }  
    }
    .btn-style3{
        &:hover{
            background-color: #fff !important; 
        }
    }
    .swiper-button-prev.btn-style, .swiper-button-next.btn-style{
        position: static;
        min-height: 40px;
        border: 1px solid #eaeaea;
        align-self: end;
        &::after{
            content: ''; 
        }
    }
}
.btn-yellowish-style{
    color: #fff !important;
    background-color: #fb0 !important;
    background: #fb0; 
    border: 1px solid #fb0; 
    letter-spacing: 0.5px;
    &:hover{
        color: #fb0 !important;
        background-color: #fff !important;
    }
}


section#header{
    .menu-items{
        letter-spacing: .2px; 
        font-weight: 500; 
        &:hover{
            color: #fb0 !important;
        }
        .v-icon{
            font-weight: 300; 
            &:hover{
                color: #fb0 !important;
            }
        }
        
    }
    
}
.signInDialog{
    .v-subheader{
        cursor: pointer;
        &:hover{
            color: #fb0 !important; 
        }
    }
}

section#banner{
    .banner-btn .v-btn{
        border: 1px solid white;
        background-color: transparent;
        min-height: 50px;
        min-width: 110px;
        &:hover{
            background-color: #fb0; 
            color: white; 
            border-color: #fb0;
        }
    }
    .swiper-pagination-bullets{
        bottom: 50px;
        .swiper-pagination-bullet{
            width: 1rem;
            height: 1rem; 
            margin: 5px; 
            background: transparent;
            border: 1px solid #fff;
            border-radius: 50%;
            opacity: 1 !important;
        }
        .swiper-pagination-bullet-active {
            opacity: 1;
            background: white !important;
        }
    }
}
section#services{
    .card-div{
        .card-icon-div{
            width: 115px; 
            height: 115px;
            border: 2px solid #fb0; 
        }
        &:hover .card-icon-div{
            background: #fb0; 
            .v-icon{
                color: #fff !important; 
            }
        }
    }
}
section#eventStatus{
    .img-div {
        transition: all .4s ease-in-out;
        background: rgba(0,0,0,0.3); 
        width: 100%; 
        height: 100%; 
        cursor: pointer; 
        .img-text-div{
            width: 100%;
            height: 100%;
            border: 1px dashed white; 
        }
    }
    .img-div:not(.on-hover) {
        background: linear-gradient(to bottom,rgba(0,0,0,0.3) 10%,rgba(2,0,5,0) 24%,#60f 150%);
        background-color: rgba(0,0,0,0.3);
    }
    .img-div.on-hover{
        background: linear-gradient(to bottom,rgba(0,0,0,0.3) 0,rgba(2,0,5,0) 24%,#60f 250%);
        background-color: rgba(0,0,0,0); 
    }
}

section#upcomingEvent{
    .filters{
        .v-btn-toggle > .v-btn.v-btn--active {
            color: inherit;
            opacity: 1;
            background-color: white !important;
            border-color: #fb0 !important;
            color: #fb0 !important;
            box-shadow: none;
        }
        .v-btn-toggle{
            .v-btn{
                border-color: #fb0 !important;
                padding-left: 1.5rem !important;
                padding-right: 1.5rem !important;
                &:hover{
                    color: #fb0 !important;
                    background-color: white !important; 
                    border-color: #fb0 !important;
                }
                &:before{
                    // background-color: white; 
                    display: none; 
                }
            }
        }
    }
}


section#featuredEvent{
    background-color: #f9f9f9; 
    padding-top: 80px; 
    padding-bottom: 80px; 
    .discount-div{
        transform: rotate(-45deg);
        margin-top: 23px;
        width: 80px;
        height: 30px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff !important;
    }
}

section#eventSearch{
    background-color: #f9f9f9;
    .v-text-field__details{
        display: none; 
    }
    .btn-yellowish-style{
        font-weight: 400;
        letter-spacing: 0px; 
        &:hover{
            color: #fb0 !important;
            background-color: transparent !important;
        }
    }
}

section#popularVenu{
    background: url('../assets/Images/Venu/venu-bg.png') no-repeat;
    background-position: center center; 
    padding-top: 6rem; 
    padding-bottom: 6rem;
    background-attachment: fixed;
}

section#newsletter{
    background: url('../assets/Images/Newsletter/newsletter-bg.png') no-repeat;
    background-position: center center; 
    padding-top: 6rem; 
    padding-bottom: 6rem;
    background-attachment: fixed;
    .v-input{
        color: white !important;
        fieldset{
            border-color: white !important;
        }
        .v-label{
            color: white;
        }
        input{
            color: white
        }
        .v-icon{
            color: white !important;
        }
        &.error--text{
            color: grey; 
        }
    }
    .btn-yellowish-style{
        &:hover{
            color: #fb0 !important;
            background-color: transparent !important;
        }
    }
}




.subPage{
    background: #f6f6f6; 
    .subPageBanner{
        .v-overlay__content{
            width: 100%; 
            .backToHome{
                &:hover{
                    color: #fb0; 
                }
            }
        }
    }
    .subPageContent{
        margin-top: 90px;
        margin-bottom: 90px;
        .content-div{
            .v-card__title{
                word-break: break-word;
                font-weight: 700; 
                cursor: pointer;
                &:hover{
                    color: #fb0; 
                }
            }
            .category-tags .v-btn{
                background-color: #eaeaea;
                color: #888;
                font-size: .7692rem;
                font-weight: 500;
                height: 40px;
                &:hover{
                    color: #fff; 
                    background-color: #fb0; 
                }
            }
            .v-btn--fab-title{
                font-weight: 600; 
            }
            .v-btn--fab{
                width: 40px;
                height: 40px;
                line-height: 40px;
                color: #fff;
                background-color: #a9a8b3;
                font-size: 1.077rem;
                &:hover{
                    background-color: #fb0; 
                    color: #fff;
                }
            }
            .photos-div{
                .v-image{
                    &:hover{ 
                        cursor: pointer;
                        transition: 0.2s all ease-in-out; 
                        .overlay{
                            background-color: rgba(0,0,0,0.3); 
                            width: 100%;
                            height: 100%;
                            cursor: pointer;
                        }
                    }
                }
            }
            .relatedSpeakers{
                .v-image{
                    .overlay{
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0,0,0,0.3);
                        color: white;
                        .visibleText{
                            visibility: hidden;
                        }
                    }
                    &:hover{
                        transition: 0.5s all ease-in-out; 
                        .overlay{
                            background-color: rgba(0,0,0,0.7);
                            .visibleText{
                                visibility: visible;
                                .v-icon{
                                    &:hover{
                                        color: #fb0 !important; 
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .eventLink{
                &:hover{
                    color: #fb0 !important;
                }
            }
        }
        .author-details{
            color: #222; 
            .author-title{
                font-weight: 600; 
                cursor: pointer; 
                &:hover{
                    color: #fb0; 
                }
            }
            .author-social-icons{
                color: #222; 
                font-size: 1.25rem; 
                &:hover{
                    color: #fb0;
                }
            }
        }
    }
}